/* Hien's css file */

.add-to-queue-btn {
    border-radius: 50%;
    align-content: center;
    background: linear-gradient(to right, #9f291b, #145a97);
    /* linear-gradient(to right,#e66465, #9198e5); */
    transition: opacity 0s;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 26px;
    height: 26px;
    color: #fff;
    border: 1px solid;
    margin: 2px;
    margin-top: 6px;
    box-sizing: border-box;
}

.add-to-queue-btn:hover .tooltip-text {
    visibility: visible;
}

.align-left {
    margin: 0px;
}

.card-text {
    display: block;
    width: 100%;
}

#genre-name {
    white-space: nowrap;
}

.genre-inner {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -80%);
    width: 800px;
    height: 250px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.15);
    border-radius: 10px;

    .media-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        margin-left: 0px;
        overflow-y: scroll;
        height: 250px;
        padding-right: 8px;
    }

    .media-grid::-webkit-scrollbar {
        display: block;
        width: 7px;
    }

    .media-grid::-webkit-scrollbar-track {
        background: #acabab;
        border-left: solid 2px black;
        border-right: solid 2px black;
    }

    .media-grid::-webkit-scrollbar-thumb {
        background-color: #1a1a1a;
        outline: 3px solid rgb(123, 122, 122);
        border-radius: 24px;
    }
}

/* .genre-inner h2 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
} */

.genre-outer {
    display: none;
    position: fixed;
    /* Fixed positioning relative to the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent black background */
}

.item-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 12px;
}

.line {
    height: 26px;
    width: 100%;
    border-bottom: 2px dashed #526969;
    margin-left: 15px;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: 12px;
    margin-bottom: 50px;
}

.media-grid-item {
    display: flex;
    width: 100%;
    min-width: 205px;
    border-radius: 5px;
    padding: 12px;
}

.media-grid-item:hover {
    background-color: #1a1a1a;
    cursor: pointer;
}

.more-btn {
    width: 100px;
    background: none;
    color: #fff;
    border: none;
    white-space: nowrap;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    max-width: 150px;
    color: white;
    font-size: 12px;
    background-color: rgba(12, 6, 52, 0.9);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    transform: translate(-50%, 10px);
    white-space: nowrap;
    align-items: center;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.type-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 20px 0px 0px;
}