.align-left {
    margin: 0px;
}

.card-text {
    display: block;
    width: 100%;
}

#genre-name {
    white-space: nowrap;
}

.item-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.line {
    height: 26px;
    width: 100%;
    border-bottom: 2px dashed #526969;
    margin-left: 15px;
}

.media-grid-item {
    display: flex;
    align-items: center;
}

.more-btn {
    width: 100px;
    background: none;
    color: #fff;
    border: none;
    white-space: nowrap;
}

.type-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 12px 12px;
}

.song-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
}