.align-left {
    margin: 0px;
}

.card-text {
    display: block;
    width: 100%;
}

.item-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.more-btn {
    background: none;
    color: #fff;
    margin-left: 100px;
    border: none;
}

.type-head {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 12px 12px;
}

.song-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}