.player {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* Adjust as needed */
  background: rgba(57, 55, 55, 0.4);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 490px;
  left: 10px;
  z-index: 2;
}

.player-album {
  width: 70px;
  height: auto;
}

.albumPicContainer {
  margin-left: 10px;
}

.player-info {
  margin-bottom: auto;
}

.song-title {
  margin-left: 10px;
  font-size: 20px;
  color: darksalmon;
}

.artist-name {
  margin-left: 10px;
  font-size: 15px;
  color: #ffffff;
}

.blenderBtn {
  margin-left: 200px;
  margin-bottom: 10px;
  position: relative;
}

.blender {
  background: transparent;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.blenderBtn:hover::before {
  content: "Mix Tracks";
  background: #151515;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 25%;
  transform: translateY(-100%);
  white-space: nowrap;
  z-index: 1;
}

.player-controls {
  display: flex;
  align-items: center;
}

.current-time,
.total-time {
  margin: 0 10px;
}

.progress-container {
  flex-grow: 1;
  height: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  position: relative;
}

.progress-bar {
  height: 5px;
  background-color: #007bff;
  width: 0%;
}

.buttonInPlayer {
  display: flex;
  gap: 80px;
  /* Adjust as needed */
}

.controlbuttons {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #ffffff;
}

.controlbuttons:focus {
  outline: none;
}

.controlbuttons:hover {
  background-color: #3b3737;
  /* Changes color on hover */
  transform: scale(1.1);
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

audio {
  display: none;
  /* Hides the default HTML5 audio player */
}