@import "mystyle.css";

body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.right {
  float: right;
  width: 20%;
  /* Adjusted to take up less width if needed */
  height: 80%;
  margin-right: 5%;
  /* This sets the distance from the right edge */
}

main.content {
  float: left;
  width: 70%;
  /* Adjust width as needed to leave space on the right if necessary */
  margin-left: 3%
    /* Additional styles if needed */
}


.logo {
  font-size: 24px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #333;
  border: none;
  color: #fff;
}

.search-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #555;
  border: none;
}

.song-of-the-day {
  color: #fff;
}

.drag-drop {
  border: 3px dashed #555;
  color: #fff;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
  /* This will ensure the box stays 5% away from the right edge */
  margin-top: 20px;
  background-color: transparent;
  /* Optional */
}

.album-art {
  width: 200px;
  /* Or the size you prefer */
  height: 200px;
  /* Or the size you prefer */
  object-fit: cover;
  /* This will make sure that the image covers the area, without being stretched */
  border-radius: 5px;
  /* Optional: if you want rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Optional: if you want to add some shadow for depth */
}

.media-body h5 {
  color: #fff;
  /* Make sure the title stands out against the background */
  margin-bottom: 0;
  /* Optional: Adjust spacing as needed */
}

/* Adjust the .media padding if needed to align with your design */
.media {
  align-items: center;
  /* This will vertically center align the image and the text */
  margin: auto;
}

.recommended-song {
  padding: 15px;
  background-color: #222;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

/* 可以调整轮播控制器的样式以更适应你的设计 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #aaa;
  /* 轮播控制器的颜色 */
  border-radius: 50%;
  /* 圆形的控制器 */
}

/*player style*/
.player {
  background: Black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.player-album-art {
  background-image: url('path_to_album_art.jpg');
  background-size: cover;
  height: 200px;
  border-radius: 5px;
}

.player-song-info {
  padding: 10px 0;
}

.player-song-info .title {
  margin: 0;
  font-weight: bold;
}

.player-song-info .artist {
  margin: 0;
  color: #555;
}

audio {
  width: 100%;
  margin-top: 10px;
}

#profile-pic {
  background: transparent;
  /* Ensure no background is set */
  border: none;
  /* Ensure no border is set */
  box-shadow: none;
  /* Remove any box shadow */
  width: 50px;
  border-radius: 45%;
}

#profile-pic:hover {
  transform: scale(1.1);
}

.login-page {
  position: relative;
  display: inline-block;
}

.description {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -23px;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width value to align the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.login-page:hover .description {
  visibility: visible;
  opacity: 1;
}


.overlay {
  display: none;
  position: fixed;
  /* Fixed positioning relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent black background */
  z-index: 998;
  /* Just below the popup z-index */
}



.popup {
  display: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.9);
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}


.popup .form h2 {
  text-align: center;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #ffffff;
}

.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}


.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #165184;
  text-decoration: none;
  font-weight: 600;
}


.popup .close-btn:hover {
  background: #555;
  color: #fff;
  transform: scale(1.1);
  transition: background 0.2s, color 0.2s, transform 0.2s;
}


.popup .form .form-element a:hover {
  color: #1a8cd8;
  /* Change color on hover */
  text-decoration: underline;
  /* Add underline */
  transition: color 0.3s;
  /* Smooth transition for color */
}


.popup .form .form-element button:hover {
  background-color: #333;
  /* Darker background on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Slight shadow for a 'lifted' effect */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Smooth transition */
}


#logo {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  box-shadow: none;
  width: 200px;
}

.bg-dark {
  background: linear-gradient(to right,
      #000000,
      /* Starting with black */
      rgba(46, 49, 49, 0.6),
      rgba(166, 77, 121, 0.6),
      rgba(191, 95, 130, 0.6),
      rgba(156, 120, 108, 0.6),
      rgba(92, 141, 137, 0.6),
      rgba(106, 138, 130, 0.6),
      rgba(74, 85, 104, 0.6),
      #000000
      /* Ending with black */
    );
  box-shadow: 0px -15px 15px -15px rgba(0, 0, 0, 0.8) inset;
  position: relative;
  z-index: 2;
}

.bg-dark::after {
  content: '';
  position: absolute;
  bottom: -1px;
  /* Aligns with the bottom edge of the header */
  left: 0;
  width: 100%;
  height: 10px;
  /* Height of the fading effect */
  background: linear-gradient(to bottom, transparent, black);
  z-index: 2;
}

.nav-link {
  transition: transform 0.3s;
  transition: text-shadow 0.3s;
}

.nav-link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #152973;
}